<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="ev-chart-behavior.html">

<dom-module id="ev-bar">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        height: inherit;
        width: inherit;
      }

      .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .footer {
        display: flex;
        flex-direction: column;
        width: 373px;
        margin-top: 50px;
      }

      .chart-keys-container {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }

      .chart-key {
        display: flex;
      }

      .key {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-left: 20px;
      }

      .centre-align {
        text-align: center;
      }

      .link {
        color: var(--ev-link-color, var(--ev-cornflower-500));
        text-decoration: none;
      }

      .learn {
        margin-top: 15px;
      }

      .inheritance-colour {
        background-color: var(--ev-inheritance-color, #A1C490);
      }

      .tax-colour {
        background-color: var(--ev-tax-color, #62993E);
      }
    </style>

    <div class="container"></div>
    <div class="footer-wrapper">
    <div class="footer">
      <div class="chart-keys-container">
        <div class="chart-key">
          <div class="inheritance-colour key"></div>
          Inheritable assets
        </div>
        <div class="chart-key">
          <div class="tax-colour key"></div>
          Tax reduction
        </div>
      </div>
      <div class="centre-align">
        The chart shows the money available for inheritance and the inheritance tax payable over time
      </div>
      <div class="learn centre-align"><a class="link" href="#">Learn more about this forecast<a></div>
    </div>
    </div>
  </template>

  <script>
/**
`ev-bar` is a bar chart used to represent the value of investments over time.

Note: This component works in accordance with EValue's InvestmentForecast API response
which the chart needs to reformat before successfully rendering on the web page.

Example:
<link rel="import" href="path/to/ev-charts/ev-bar.html">
<ev-bar></ev-bar>

Dynamically adding the forecast data from API call:
var chart = document.querySelector('ev-bar');
var apiResponse = JSON.parse(jsonRepsonse);
chart.forecastData = apiResponse;
chart.draw();

@customElement
@polymer
@appliesMixin EvChartBehaviorDemo
@demo demo/index.html
*/
    class EvBar extends EvChartBehavior(Polymer.Element) {
      static get is() { return 'ev-bar'; }
      static get properties() {
        return {
          /** The number of terms of the given forecast */
          _term: Number,
          /**
           * The forecast data resulted from the API call
           * any changes to this property will be cause the chart
           * to be redrawn.
           *
           *  @type {!String}
           */
          forecastData: {
            type: Object,
            observer: '_forecastDataChanged'
          },
          /* Not used - to do */
          barColor: {
            type: String,
            value: '#5e8bf5'
          },
          /** Currency symbol used in axis */
          currency: {
            type: String,
            value: '£'
          }
        };
      }

      constructor() {
        super();
        this.maximumAmount = 0;
      }

      ready() {
        super.ready();
        this.container = this.shadowContainer;
      }

      connectedCallback() {
        super.connectedCallback();
        this.container = this.shadowContainer;
        this.height = parseInt(window.getComputedStyle(this.container).height);
        this.width = parseInt(window.getComputedStyle(this.container).width);
      }

      /**
       * Changes to the forecast data will be notified
       * thus, reformatting data and redrawing will commence
       */
      _forecastDataChanged(newForecastData, currentForecastData) {
        if (!currentForecastData) {
          this.dataAssets = this._formatDataAssets(newForecastData);
          this.dataTax = this._formatDataTax(newForecastData);
          if (this.dataAssets && this.dataTax) {
            this._init();
          }
        } else if (currentForecastData && newForecastData) {
          if (currentForecastData !== newForecastData) {
            this.dataAssets = this._formatDataAssets(newForecastData);
            this.dataTax = this._formatDataTax(newForecastData);
            if (this.dataAssets && this.dataTax) {
              this._updateSeries(this.dataAssets, this.dataTax);
              super.redraw();
            }
          }
        }
      }

      /**
       * Formatting the forecast data based on the
       * InvestmentForecat API response
       *
       * @param {Object} data The API response data
       * @returns {Array} the data assets array for eve
       */
      _formatDataAssets(data) {
        let dataAssets = [];
        let term = data.inheritanceForecast.length;
        let counter;

        for (counter = 0; counter < term; counter++) {
          dataAssets.push({
            year: data.inheritanceForecast[counter].Year,
            value: Math.round(data.inheritanceForecast[counter].netEstate)
          });
        }

        return dataAssets;
      }

      /**
       * Formatting the forecast data based on the
       * InvestmentForecat API response
       *
       * @param {Object} data The API response data
       * @returns {Array} the data assets array for eve
       */
       _formatDataTax(data) {
        let dataTax = [];
         let term = data.inheritanceForecast.length;
         let counter;

         for (counter = 0; counter < term; counter++) {
           dataTax.push({
             year: data.inheritanceForecast[counter].Year,
             value: Math.round(data.inheritanceForecast[counter].IHTtax)
           });
         }

         return dataTax;
       }

      /**
       * The parent container for the funnel chart
       * @return {HTMLElement} div container
       */
      get shadowContainer() {
        return this.shadowRoot.querySelector('.container');
      }

      /**
       * Initialize the chart. This is called if the chart
       * is being drawn for the first time.
       */
      _init() {
        this.initChart();
        this._initAxis();
        this.styleChart();
      }

      /**
       * Draw the chart after initialization.
       * Note: the API response must be reformatted in order to draw
       * and this function does not need to be called again for redrawing.
       */
      draw() {
        if (this.dataAssets && this.dataTax) {
          super.draw();
        }
      }

      /**
       * Initialises the axis needed for the chart
       * and reformats the y axis labels to handle chart responsiveness.
       */
      _initAxis() {
        let axForecastX, axForecastY;

        this.chart.margin = "0 0 100 60";
        this.chart.padding = "20 20 20 20";
        this.chart.titleOffsetY = -10;
        this.chart.title = "";
        this.chart.seriesLayout = "stacked";
        this.chart.legendPos = "bottomCentre";
        this.chart.legendStacked = false;
        this.chart.legendOffsetX = -120;
        this.chart.legendOffsetY = 80;

        this.barAssets = this.chart.addSeries("bar", this.dataAssets);
        this.barAssets.legend = "Inheritable assets";
        this.barAssets.legendFontSize = 16;
        this.barAssets.legendOffsetX = -30;
        this.barAssets.colour = "#A1C490";

        this.barTax = this.chart.addSeries("bar", this.dataTax);
        this.barTax.legend = "Tax reduction";
        this.barTax.legendFontSize = 16;
        this.barTax.colour = "#62993e";
        this.barTax.barPadding = this.barAssets.barPadding = 10;

        axForecastX = this.chart.addAxis("bottom", "band", "year");
        axForecastX.labelOffsetY = 10;
        axForecastX.tickFontSize = 12;
        axForecastX.showGridLines = false;
        axForecastX.showTicks = false;
        axForecastX.axisColour = "#d9d9d9";

        axForecastY = this.chart.addAxis("left", "linear", "value");
        axForecastY.label = "";
        axForecastY.rangeMin = 0;
        axForecastY.tickFontSize = 12;
        axForecastY.tickTextFormat = "£,.0";
        axForecastY.gridLineColour = "#d9d9d9";
        axForecastY.gridLineOpacity = 0.75;
        axForecastY.axisColour = "#d9d9d9";
        axForecastY.tickColour = "#d9d9d9";
        axForecastY.axisOpacity = 0;
        axForecastX.tickFontColour = axForecastY.tickFontColour = "#595959";
      }

      _updateSeries(newAssets, newTax) {
        this.barAssets.data = newAssets;
        this.barTax.data = newTax;
      }
    }

    window.customElements.define(EvBar.is, EvBar);
  </script>
</dom-module>