<link rel="import" href="../polymer/polymer.html">
<script type="text/javascript" src="../eve/eve-demo.js"></script>
<script>
  /**
   * `EvChartBehaviorDemo` provides a behavior for all EValue charts to implement.
   * Contains the common properties required to make create and draw a chart.

   * @polymer
   * @mixinFunction
   */
  const EvChartBehaviorDemo = function (superClass) {
    return class extends superClass {
      static get properties() {
        return {
          /**
           Contains all of the properties used to
           configure the style and behavior of the chart
           the
          */
          chart: {
            type: Object
          },
          /** Id of the svg path of the chart */
          chartID: {
            type: String,
            value: ''
          },
          /** Title of the chart */
          title: {
            type: String,
            value: ''
          },
          /**
           * The parent container of the chart
           * If string is defined then div will appended to the
           * body with the string as the id.
           * @type {(string|Object)}
          */
          container:{
            type: Object
          },
          /** Width of the chart*/
          width: {
            type: String,
            value: '800px'
          },
          /** Height of the chart */
          height: {
            type: String,
            value: '600px'
          },
          /** Determines the type of chart to display */
          type: {
            type: String
          },
          /** Font size of the chart title */
          titleFontSize: {
            type: Number,
            value: 16
          },
          /** Set the offset of the title*/
          titleOffsetY: {
            type: Number,
            value: -5
          },
          /** Set the offset of the label on the Y-axis*/
          labelOffsetY: {
            type: Number,
            value: 5
          },
          /** Set the offset of the label on the X-axis */
          tickTextFormat: {
            type: String,
            value: '£,.0'
          },
          /**
           Margin of the chart.
           Note: Must be defined as a shorthand version similar to the CSS property
          */
          margin: {
            type: String,
            value: '5 10 12 40'
          },
          /**
           * Padding of the chart.
           Note: Must be defined as a shorthand version similar to the CSS property
           */
          padding: {
            type: String,
            value: '50 20 50 65'
          },
          /** Whether or not to display the legend */
          showLegend: {
            type: Boolean,
            value: false
          },
          /**
           Configure the position, type, domain, label and animation of the X-Axis
           Example: 'this.xAxis = this.chart.addAxis('bottom', 'linear', 'Year');'
          */
          xAxis: {
            type: Object
          },
          /**
           Configure the position, type, domain, label and animation of the Y-Axis
            Example: 'this.yAxis = this.chart.addAxis('left', 'linear', 'value');'
          */
          yAxis: {
            type: Object
          },
           /** Minimum range of the axis*/
          rangeMin: {
            type: Number,
            value: 0
          },
          /** Set the length of time to animate the drawing the chart set in seconds */
          drawAnimDuration: {
            type: Number,
            value: 0.5
          },
          /** The delay before the chart begins to draw set in seconds */
          drawAnimDelay: {
            type: Number,
            value: 1
          }
        }
      }

      /**
       * Initialize the chart
       * Note: a container, type, width and height
       * must be defined
       **/
      initChart() {
        this.chart = new eve.chart(this.container, this.type, this.width, this.height, this.drawMode, this.chartID)
      }

      /**
       * Styling the chart before redrawing.
       * Note: this must be called after the chart's
       * properties are set
       **/
      styleChart() {
        this.chart.title = this.title;
        this.chart.titleFontSize = this.titleFontSize;
        this.chart.titleOffsetY = this.titleOffsetY;
        this.chart.margin = this.margin;
        this.chart.padding = this.padding;
        this.chart.showLegend = this.showLegend;
      }

      /**
       * Draw the chart after initialization
       * and styling
       * */
      draw(){
        if (this.chart) {
          this.chart.draw(this.drawAnimDuration, this.drawAnimDelay);
        }
      }

      /**
       * Redraw the chart after data has been
       * changed. Note: the chart object must be defined
       */
       redraw() {
        if(this.chart){
          this.draw(this.drawAnimDuration, 0, true);
        }
      }

      _getColours() {
        let totalSectors = this.beneficiary + 1;
        let sectors = [];
        let y;
        for (y = 0; y < totalSectors; y++) {
          if (y === 0) {
            // red for taxman
            sectors.push("#D3354A");
          }
          else{
            // green
            sectors.push("#c3d58e");
          }
        }
        return sectors;
      }

    }
  }
</script>