<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="ev-chart-behavior.html">

<dom-module id="ev-doughnut-chart-inheritance-tax">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        height: inherit;
        width: inherit;
      }
    </style>

    <div class="container"></div>
  </template>


  <script>

     /**
      `ev-doughnut-chart-inheritance-tax` is a doughnut pie chart used to represent the value of an estate, and how it is split between the Tax Man and 1 or more beneficiaries.

      Note: This component works in accordance with EValue's InvestmentForecast API response
      which the chart needs to reformat before successfully rendering on the web page.

      Example:
      <link rel="import" href="path/to/ev-charts/ev-doughnut-chart-with-planning.html">
      <ev-doughnut-chart-with-planning></ev-doughnut-chart-with-planning>

      Dynamically adding the forecast data from API call:
      var chart = document.querySelector('ev-doughnut-chart-with-planning');
      var apiResponse = JSON.parse(jsonRepsonse);
      chart.forecastData = apiResponse;
      chart.draw();

     Hangs off EvChartBehaviorDemo instead of EvChartBehavior, only because it wants a slightly different version of EVe.
     Once the changes to eve.js buildLabels() are merged to master, we can inherit from EvChartBehavior.

      @customElement
      @polymer
      @appliesMixin EvChartBehaviorDemo
      @demo demo/index.html
      */
    class EvDoughnutChartInheritanceTax extends EvChartBehavior(Polymer.Element) {
      static get is() { return 'ev-doughnut-chart-inheritance-tax'; }
      static get properties() {
        return {
          /** The number of terms of the given forecast */
          /*_term: Number,*/
          /**
           * The forecast data resulted from the API call
           * any changes to this property will be cause the chart
           * to be redrawn.
           *
           *  @type {!String}
           */
          forecastData: {
            type: Object,
            observer: '_forecastDataChanged'
          },
          /** Currency symbol used in axis */
          currency: {
            type: String,
            value: '£'
          },
          type: {
            type: String,
            value: 'doughnut'
          },
          beneficiary: {
            type: Number,
            value: 2
          },
          maximumNumberOfBeneficiaries: {
            type: Number,
            value: 10
          },
          key: {
            type: String,
            value: 'Without' //Find the correct set of data on the Forecast Results data. Value of the "IHTplanning" field. Currently "Without" or "With".
          },
          doughnutTitle: {
            type: String,
            value: 'IHT without<br/>planning'   //The Doughnut title, in the centre of the doughnut,
          },
          taxColour: {
            type: String,
            value: '#D3354A'
          },
          beneficiarySectorColour: {
            type: String,
            value: '#c3d58e'
          },
          beneficiaryLabelColour: {
            type: String,
            value: '#87AB1E'
          },
          labelFontSize: {  //The Doughnut title, in the centre of the doughnut, and the 2 labels (chart key) underneath it)
            type: Number,
            value: 20
          }


        };
      }

      constructor() {
        super();
        this.maximumAmount = 0;
      }

      ready() {
        super.ready();
        this.container = this.shadowContainer;
        this.sectors;
        this.labelMain;
        this.labelTaxman;
        this.labelBeneficiary;

      }

      connectedCallback() {
        super.connectedCallback();
        this.height = parseInt(window.getComputedStyle(this.container).height);
        this.width = parseInt(window.getComputedStyle(this.container).width);
      }

      /**
       * Changes to the forecast data will be notified
       * thus, reformatting data and redrawing will commence
       */
      _forecastDataChanged(newForecastData, currentForecastData) {

        let inheritanceTaxBreakdown = this._findInheritanceTaxBreakDown(newForecastData.inheritanceTaxBreakdownComparison, this.key);

        if(inheritanceTaxBreakdown) {
          var dataRing = this._formatDataRing(inheritanceTaxBreakdown);
        }

        if (!currentForecastData) {
          if(dataRing){
            this.dataRing = dataRing;
            this._init();
          }
        } else if (currentForecastData && newForecastData && currentForecastData !== newForecastData) {
          if(dataRing){
            this.dataRing = dataRing;
            this._update();
          }
        }
      }

      /**
       * Formatting the forecast data based on the
       * InvestmentForecat API response
       *
       * @param {Object} inheritanceTaxBreakdown from the API response data
       * @returns {Array} the data assets array for eve
       */
      _formatDataRing(inheritanceTaxBreakdown) {
        let dataRing = [];
        let x, y;

        dataRing.push({
          "for": "Tax man",
          "value": inheritanceTaxBreakdown.taxMan
        })

        for (y = 0; y < this.beneficiary; y++) {
          dataRing.push({
            "for": "Beneficiary " + (y + 1),
            "value": inheritanceTaxBreakdown.beneficiary
          })
        }

        // workaround as sectors were getting redrawn in red
        // Fill in the remaining segments with dummy/empty data items.
        for (y = this.beneficiary; y < this.maximumNumberOfBeneficiaries; y++) {
          dataRing.push({
            "for": "Beneficiary " + (y + 1),
            "value": 0
          })
        }

        return dataRing;
      }

      /**
      API returns Inheritance Breakdown array. We need to drill down to find either the
      one marked "with" or "without"
      @param inheritanceTaxBreakdownComparison {Array}
      @param key {String} Value of the "IHTplanning" field. Currently "Without" or "With"
      @return inheritanceTaxBreakdown {Object} or undefined if no tax breakdown found.
      */
      _findInheritanceTaxBreakDown (inheritanceTaxBreakdownComparison, key){

        var inheritanceTaxBreakdown;
        if (inheritanceTaxBreakdownComparison){
          inheritanceTaxBreakdown = inheritanceTaxBreakdownComparison.find(function(inheritanceTaxBreakdown){
            return inheritanceTaxBreakdown.IHTplanning === key;
          });
        }

        return inheritanceTaxBreakdown;
      }


      /**
       * The parent container for the funnel chart
       * @return {HTMLElement} div container
       */
      get shadowContainer() {
        return this.shadowRoot.querySelector('.container');
      }

      /**
       * Initialize the chart. This is called if the chart
       * is being drawn for the first time.
       */
      _init() {
        this.initChart();
        this._initAxis(this.doughnutTitle);
      }

      /**
       * Draw the chart after initialization.
       * Note: the API response must be reformatted in order to draw
       * and this function does not need to be called again for redrawing.
       */
      draw(drawAnimDuration, drawAnimDelay, redraw) {
        if (this.dataRing) {
          super.draw();
        }
      }

      /**
       * Initialises the axis needed for the chart
       * and reformats the y axis labels to handle chart responsiveness.
       * @param doughnutTitle {String} Title in the centre of the Doughnut. Either "IHT without<br>planning" or "IHT with<br>planning"
       */
      _initAxis(doughnutTitle) {

        this.chart.margin = "0 0 0 0";
        this.chart.padding = "10 10 10 10";
        this.chart.title = "";
        this.chart.cushion = "25%";
        this.chart.showLegend = false;

        this.sectors = this.chart.addSeries("", this.dataRing);
        this.sectors.colour = this._getColours();
        this.sectors.offsetY = -115;

        this.sectors.tooltipFontSize = 14;
        this.sectors.innerRadius = "75%";
        this.sectors.showTooltips = true;

        this.sectors.nodeLabels = false;
        this.sectors.strokeColour = "white";
        this.sectors.strokeHoverColour = "white";
        this.sectors.strokeWidth = 2;
        this.sectors.tooltipNumberFormat = "£.,0";

        this.labelMain = this.chart.addLabel();
        this.labelMain.fontColour = "#333333";
        this.labelMain.fontSize = this.labelFontSize;
        this.labelMain.fontWeight = "bold";
        this.labelMain.text = doughnutTitle;
        this.labelMain.origin = "middleCentre";
        this.labelMain.x = "50%";
        this.labelMain.y = 330;

        this.labelTaxman = this.chart.addLabel();
        this.labelTaxman.fontColour = this.taxColour;
        this.labelTaxman.fontSize = this.labelFontSize;
        this.labelTaxman.text = this._getTaxmanLabel();
        this.labelTaxman.origin = "middleCentre";
        this.labelTaxman.x = "50%";
        this.labelTaxman.y = 160;

        this.labelBeneficiary = this.chart.addLabel();
        this.labelBeneficiary.fontColour = this.beneficiaryLabelColour;
        this.labelBeneficiary.fontSize = this.labelFontSize;
        this.labelBeneficiary.text = this._getBeneficiaryLabel();
        this.labelBeneficiary.origin = "middleCentre";
        this.labelBeneficiary.x = "50%";
        this.labelBeneficiary.y = 85;
      }

      _update() {
        this.sectors.data = this.dataRing;

        // workaround as Eve remembered the colours of the previous sectors
        this.sectors.colour = new Array(this.maximumNumberOfBeneficiaries + 1);
        //11 segments. first segment is tax colour, remaining 10 segments beneficiary volour
        this.sectors.colour[0] = this.taxColour;
        this.sectors.colour.fill(this.beneficiarySectorColour, 1);

        for (let n = 0; n < this.dataRing.length; n++){
          let aNode = this.sectors.getNode(n);
          if(aNode){
            aNode.colour = this.sectors.colour[n];
          }
        }

        this.sectors.showTooltips = true

        this.labelTaxman.text = this._getTaxmanLabel();
        this.labelBeneficiary.text = this._getBeneficiaryLabel();
        this.draw();
      }

      _getTaxmanLabel() {
        return "Tax man gets<br><b>" + eve.formatNumber(this.dataRing[0].value, "£,.0") + "</b>";
      }

      _getBeneficiaryLabel() {
        return "Each beneficiary gets<br><b>" + eve.formatNumber(this.dataRing[1].value, "£,.0") + "</b>";
      }

      _getColours() {
        let totalSectors = this.beneficiary + 1;
        let sectors = [];
        let y;

        for (y = 0; y < totalSectors; y++) {
          if (y === 0) {
            // red for taxman
            sectors.push(this.taxColour);
          }
          else{
            // green
            sectors.push(this.beneficiarySectorColour);
          }
        }
        return sectors;
      }

    }

    window.customElements.define(EvDoughnutChartInheritanceTax.is, EvDoughnutChartInheritanceTax);
  </script>
</dom-module>