<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="ev-chart-behavior.html">

<dom-module id="ev-funnel">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        height: inherit;
        width: inherit;
      }
    </style>

    <div class="container"></div>
  </template>

  <script>
/**
`ev-funnel` is a component which illustrates a range of likely outcomes for given data
in this case with EValue's InvestmentForecast API. The chart produces high, end and low
returns an investor is likely to receive at the end of their last projected term.

Note: This component works in accordance with EValue's InvestmentForecast API response
which the chart needs to reformat before successfully rendering on the web page.

Example:
<link rel="import" href="path/to/ev-charts/ev-funnel.html">
<ev-funnel></ev-funnel>

Dynamically adding the forecast data from API call:
var funnel = document.querySelector('ev-funnel');
var apiResponse = JSON.parse(jsonRepsonse);
funnel.forecastData = apiResponse;
funnel.draw();

@customElement
@polymer
@appliesMixin EvChartBehavior
@demo demo/index.html
*/
    class EvFunnel extends EvChartBehavior(Polymer.Element) {
      static get is() { return 'ev-funnel'; }
      static get properties() {
        return {
          /** The number of terms of the given forecast */
          _term: Number,
          /**
           * The forecast data resulted from the API call
           * any changes to this property will be cause the chart
           * to be redrawn.
           *
           *  @type {!String}
           */
          forecastData: {
            type: Object,
            observer: '_forecastDataChanged'
          },
          /** The high return after a set of terms */
          endHigh: Number,
          /** The mid return after a set of terms */
          endMid: Number,
          /** The low return after a set of terms */
          endLow: Number,
          /** The node used to display the high return on the funnel */
          _nodeHigh: {
            type: Object
          },
           /** The node used to display the mid return on the funnel */
          _nodeMid: Object,
          /** The node used to display the low return on the funnel */
          _nodeLow: Object,
          /** Contains the dot data required for displaying nodes
           * Example:
           * his._dots = this.chart.addSeries('scatter', this._dotData);
           */
          _dots: Object,
          /** The first funnel */
          _funnel1: Object,
          /** The second funnel */
          _funnel2: Object,
          /** The third funnel */
          _funnel3: Object,
          /** The fourth funnel */
          _funnel4: Object,
          /** The fifth funnel */
          _funnel5: Object,
          /** Contains the data needed for high, mid and low return at a given term */
          _dotData: Array,
          /** Default color of the funnels */
          funnelColor: {
            type: String,
            value: '#5e8bf5'
          },
          /** Node color for the high return */
          nodeHighColor: {
            type: String,
            value: '#703f71'
          },
          /** Node color for the mid return */
          nodeMidColor: {
            type: String,
            value: '#5e8bf5'
          },
          /** Node color for the low return */
          nodeLowColor: {
            type: String,
            value: '#eb9233'
          },
          /** If true, the title is not shown */
          noTitle: {
            type: Boolean,
            value: false
          },
          /** Currency symbol used in axis */
          currency: {
            type: String,
            value: '£'
          },
           /** If false, the gridlines is not shown */
          displayGridLines: {
            type: Boolean,
            value: true
          },
           /** Label for the y axis */
          yLabel: {
            type: String,
            value: 'value'
          },
          /** size of the toolTipFontSize*/
          tipFontSize: {
            type: Number,
            value: 12
          }
        };
      }

      constructor() {
        super();
        this.maximumAmount = 0;
      }

      ready() {
        super.ready();
        this.container = this.shadowContainer;
        this.height = parseInt(window.getComputedStyle(this.container).height);
        this.width = parseInt(window.getComputedStyle(this.container).width);
      }

      /**
       * Changes to the forecast data will be notified
       * thus, reformatting data and redrawing will commence
       */
      _forecastDataChanged(newForecastData, currentForecastData) {
        if (!currentForecastData) {
          this.formattedData = this._formatData(newForecastData);
          if (this.formattedData) {
            this._init();
          }
        } else if (currentForecastData && newForecastData) {
          if (currentForecastData !== newForecastData) {
            this.formattedData = this._formatData(newForecastData);
            if(this.formattedData) {
              this._drawShapes();
              this._redrawNodes();
              this._initChartTitle(this._term);
              super.redraw();
            }
          }
        }
      }

      /**
       * Formatting the forecast data based on the
       * InvestmentForecat API response
       *
       * @param {Object} data The API response data
       * @returns {Array} the data in the eve format
       */
      _formatData(data) {
        let tPercentiles = [];
        let bPercentiles = [];
        let offset = 5;
        this._term = data.results[0].terms.length - 1;
        let numFunnels = this.maxFunnels;
        let f, y;
        let fData = [];
        let fStep = Math.round(((data.results.length - 1) / 2) - offset) / numFunnels;
        for (f = 0; f < numFunnels; f++) {
          bPercentiles[f] =  (f * fStep) + offset;
          tPercentiles[f] = (data.results.length - 1) -  bPercentiles[f];
        }

        for (f = 0; f < numFunnels; f++) {
          var fDataTop = [];
          var fDataBottom = [];
          for (y = 0; y < this._term + 1; y++) {
            fDataTop.push({
              Year: data.results[data.results.length - (tPercentiles[f])].terms[y].term,
              value: (1 * (data.results[tPercentiles[f]].terms[y].value))
            });

            fDataBottom.push({
              Year: data.results[bPercentiles[f]].terms[y].term, value: (1 * (data.results[bPercentiles[f]].terms[y].value))
            });
          }

          fData[f] = fDataTop.concat(fDataBottom.reverse());
        }

        this.endHigh = data.results[95].terms[this._term].value;
        this.endMid = data.results[50].terms[this._term].value;
        this.endLow = data.results[5].terms[this._term].value;
        this.maximumAmount = data.results[100].terms[this._term].value;
        return fData;
      }

      /**
       * The maximum number of funnels must be
       * one less than the number of percentiles if
       * and only if the minumum number of percentiles is 6.
       * Otherwise 5
       * @return {Number} number of funnels
       */
      get maxFunnels() {
        let maxFunnels = 5;
        if (this.forecastData.results.length < 6) {
          maxFunnels = this.forecastData.results.length - 1;
        }

        return maxFunnels
      }

      /**
       * Initialises the chart title based on the number of terms provided
       * It also handles wraps the title to accommodate responsiveness
       * of the chart
       * @param {Number} term  investment term used in the title
       */
      _initChartTitle(term) {
        if(!this.noTitle) {
          this.title = "How Your Investment Might Perform over the Next " + term + " Years";
          this.chart.mediaProps[0] = {case: {maxWidth: 1000}, props: {
            titleFontSize: 14,
            marginTop: 5,
            paddingTop: 45,
            marginBottom: 0,
            marginLeft:25
          }};
          this.chart.mediaProps.push({case: {maxWidth: 567}, props: {
            title: "How Your Investment Might Perform<br />over the Next " + term + " Years",
            marginTop:10,
            marginLeft:15,
            paddingTop:60,
            paddingLeft: 55
          }});
        }
      }

      /**
       * The parent container for the funnel chart
       * @return {HTMLElement} div container
       */
      get shadowContainer() {
        return this.shadowRoot.querySelector('.container');
      }

      /**
       * Initialize the chart. This is called if the chart
       * is being drawn for the first time.
       */
      _init() {
        this.initChart();
        this._initChartTitle(this._term);
        this._initAxis();
        this._initShapes();
        this.styleChart();
        this._constructNodes();
      }

      /**
       * Draw the chart after initialization.
       * Note: the API response must be reformatted in order to draw
       * and this function does not need to be called again for redrawing.
       */
      draw() {
        if (this.formattedData) {
          super.draw();
        }
      }

      /**
       * Initialises the axis needed for the chart
       * and reformats the y axis labels to handle chart responsiveness.
       */
      _initAxis() {
        this.xAxis = this.chart.addAxis('bottom', 'linear', 'Year');
        this.xAxis.labelOffsetY = 5;
        this.xAxis.tickFontSize = 16;
        this.xAxis.labelFontSize = 16;
        this.xAxis.showGridLines = false;
        this.yAxis = this.chart.addAxis('left', 'linear', 'value');
        if (this.maximumAmount > 1000000) {
          this.yAxis.tickTextFormat = `${this.currency},.0/1000k`;
        } else {
          this.yAxis.tickTextFormat = `${this.currency},.0`;
        }
        this.yAxis.tickFontSize = 16;
        this.yAxis.labelFontSize = 16;
        this.yAxis.labelOffsetX = 15;
        this.yAxis.rangeMin = 0;
        this.xAxis.tickFontSize = 14;
        this.yAxis.tickFontSize = 14;
        this.xAxis.tickFontColour = '#999999';
        this.yAxis.tickFontColour = '#999999';
        this.xAxis.labelFontColour = '#999999';
        this.yAxis.labelFontColour = '#999999';
        this.xAxis.axisColour = '#999999';
        this.yAxis.axisColour = '#999999';
        this.xAxis.tickColour = '#999999';
        this.yAxis.tickColour = '#999999';
        this.yAxis.label = this.yLabel;
        this.xAxis.showGridLines = this.yAxis.showGridLines = this.displayGridLines;
        this.xAxis.mediaProps[0] = {case: {maxWidth: 1000}, props: {
          tickFontSize: 12,
          labelFontSize: 14,
        }};
        this.yAxis.mediaProps[0] = {case: {maxWidth: 1000}, props: {
          tickFontSize: 12,
          labelFontSize: 14,
        }};
        this.yAxis.mediaProps.push({case: {maxWidth: 567}, props: {
          tickTextFormat: `${this.currency}.0/1000k`,
        }});
      }

      /**
       * Construct the shapes needed for the
       * SVG chart
       */
      _initShapes() {
        this._funnel1 = this.chart.addSeries('shape');
        this._funnel1.colour = this.funnelColor;
        this._funnel1.showLegend = false;
        this._funnel1.fillOpacity = 0.1;
        this._funnel1.shapeNodes = true;
        this._funnel2 = this.chart.addSeries('shape');
        this._funnel2.colour = this.funnelColor;
        this._funnel2.showLegend = false;
        this._funnel2.fillOpacity = 0.15;
        this._funnel2.shapeNodes = true;
        this._funnel3 = this.chart.addSeries('shape');
        this._funnel3.colour = this.funnelColor;
        this._funnel3.showLegend = false;
        this._funnel3.fillOpacity = 0.2;
        this._funnel3.shapeNodes = true;
        this._funnel4 = this.chart.addSeries('shape');
        this._funnel4.colour = this.funnelColor;
        this._funnel4.showLegend = false;
        this._funnel4.fillOpacity = 0.25;
        this._funnel4.shapeNodes = true;
        this._funnel5 = this.chart.addSeries('shape');
        this._funnel5.colour = this.funnelColor;
        this._funnel5.showLegend = false;
        this._funnel5.fillOpacity = 0.3;
        this._funnel5.shapeNodes = true;

        this._funnel1._tooltipFontSize = this.tipFontSize;
        this._funnel2._tooltipFontSize = this.tipFontSize;
        this._funnel3._tooltipFontSize = this.tipFontSize; 
        this._funnel4._tooltipFontSize = this.tipFontSize;
        this._funnel5._tooltipFontSize = this.tipFontSize;

        this._drawShapes();
      }

      /**
       * Draw the shapes representing each funnel
       */
      _drawShapes() {
        this._funnel1.data = this.formattedData[0];
        this._funnel2.data = this.formattedData[1];
        this._funnel3.data = this.formattedData[2];
        this._funnel4.data = this.formattedData[3];
        this._funnel5.data = this.formattedData[4];
      }

      /**
       *
       * Generate the node data based on the
       * high, mid and low returns
       *
       * @return {Array.<Object>} data with term and expected returns as key value pairs
       */
      _generateNodeData() {
        this._dotData = [{
          Year: this._term,
          value: this.endHigh
        }, {
          Year: this._term,
          value: this.endMid
        }, {
          Year: this._term,
          value: this.endLow
        }]
      }

      /**
       * Construct the styling of the high, mid and low
       * nodes
       */
      _constructNodes() {
        this._generateNodeData();
        this._dots =  this.chart.addSeries('scatter', this._dotData);
        this._dots.legend = '';
        this._dots.strokeColour = 'white';
        this._dots.strokeWidth = 1;
        this._dots.showTooltips = true;
        this._dots._tooltipFontSize = this.tipFontSize;
        
        this._nodeHigh = this._dots.getNode(0);
        this._nodeHigh.tooltipTitle = 'High';
        this._nodeHigh.colour = this.nodeHighColor;

        this._nodeMid = this._dots.getNode(1);
        this._nodeMid.tooltipTitle = 'Mid';
        this._nodeMid.colour = this.nodeMidColor;

        this._nodeLow = this._dots.getNode(2);
        this._nodeLow.tooltipTitle = 'Low';
        this._nodeLow.colour = this.nodeLowColor;
      }

      /**
       * Redraw the nodes if the forecast data
       * has been changed
       */
      _redrawNodes() {
        this._generateNodeData();
        this._dots.data = this._dotData;
      }
    }

    window.customElements.define(EvFunnel.is, EvFunnel);
  </script>
</dom-module>