<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="ev-chart-behavior.html">

<dom-module id="ev-shape-chart">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        height: inherit;
        width: inherit;
      }

      .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .footer {
        display: flex;
        flex-direction: column;
        width: 373px;
        margin-top: 50px;
      }

      .chart-keys-container {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }

      .chart-key {
        display: flex;
      }

      .key {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-left: 20px;
      }

      .centre-align {
        text-align: center;
      }

      .link {
        color: var(--ev-link-color, var(--ev-cornflower-500));
        text-decoration: none;
      }

      .learn {
        margin-top: 15px;
      }

      .iht-without-planning-colour {
        background-color: var(--ev-iht-with-planning-colour, #FBB871);
      }

      .iht-with-planning-colour {
        background-color: var(--ev-iht-without-planning-color, #C09DC1);
      }
    </style>

    <div class="container"></div>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="chart-keys-container">
          <div class="chart-key">
            <div class="iht-without-planning-colour key"></div>
            IHT without planning
          </div>
          <div class="chart-key">
            <div class="iht-with-planning-colour key"></div>
            IHT with planning
          </div>
        </div>
        <div class="learn centre-align"><a class="link" href="#">Learn more about this forecast<a></div>
      </div>
    </div>
  </template>

  <script>
    /**
    `ev-shape-chart` is a line chart used to represent the value of investments over time.

    Note: This component works in accordance with EValue's InvestmentForecast API response
    which the chart needs to reformat before successfully rendering on the web page.

    Example:
    <link rel="import" href="path/to/ev-charts/ev-shape-chart.html">
    <ev-shape-chart></ev-shape-chart>

    Dynamically adding the forecast data from API call:
    var chart = document.querySelector('ev-shape-chart');
    var apiResponse = JSON.parse(jsonRepsonse);
    chart.forecastData = apiResponse;
    chart.draw();

    @customElement
    @polymer
    @appliesMixin EvChartBehaviorDemo
    @demo demo/index.html
    */
    class EvShapeChart extends EvChartBehavior(Polymer.Element) {
      static get is() { return 'ev-shape-chart'; }
      static get properties() {
        return {
          /** The number of terms of the given forecast */
          _term: Number,
          /**
           * The forecast data resulted from the API call
           * any changes to this property will be cause the chart
           * to be redrawn.
           *
           *  @type {!String}
           */
          forecastData: {
            type: Object,
            observer: '_forecastDataChanged'
          },
          /** Currency symbol used in axis */
          currency: {
            type: String,
            value: '£'
          }
        };
      }

      constructor() {
        super();
        this.maximumAmount = 0;
      }

      ready() {
        super.ready();
        this.container = this.shadowContainer;
      }

      connectedCallback() {
        super.connectedCallback();
        this.height = parseInt(window.getComputedStyle(this.container).height);
        this.width = parseInt(window.getComputedStyle(this.container).width);
      }

      /**
       * Changes to the forecast data will be notified
       * thus, reformatting data and redrawing will commence
       */
      _forecastDataChanged(newForecastData, currentForecastData) {
        if (!currentForecastData) {
          this.dataPlanned = this._formatDataPlanned(newForecastData);
          this.dataUnplanned = this._formatDataUnplanned(newForecastData);
          if (this.dataPlanned && this.dataUnplanned) {
            this._init();
          }
        } else if (currentForecastData && newForecastData) {
          if (currentForecastData !== newForecastData) {
            this.dataPlanned = this._formatDataPlanned(newForecastData);
            this.dataUnplanned = this._formatDataUnplanned(newForecastData);
            if (this.dataPlanned && this.dataUnplanned) {
              this._updateSeries(this.dataPlanned, this.dataUnplanned);
              super.redraw();
            }
          }
        }
      }

      /**
       * Formatting the forecast data based on the
       * InvestmentForecat API response
       *
       * @param {Object} data The API response data
       * @returns {Array} the data assets array for eve
       */
      _formatDataPlanned(data) {
        let dataPlanned = [];
        let term = data.inheritanceTaxComparison.length;
        let x;

        // needed to draw the chart properly
        dataPlanned.push({
          year: 1,
          value: 0
        });

        for (x = 0; x < term; x++) {
          dataPlanned.push({
            year: data.inheritanceTaxComparison[x].Year,
            value: Math.round(data.inheritanceTaxComparison[x].IHTwithPlanning)
          });
        }

        dataPlanned.push({
            year: term,
            value: 0
          });

        return dataPlanned;
      }

      /**
       * Formatting the forecast data based on the
       * InvestmentForecat API response
       *
       * @param {Object} data The API response data
       * @returns {Array} the data assets array for eve
       */
      _formatDataUnplanned(data) {
        let dataUnplanned = [];
        let term = data.inheritanceTaxComparison.length;
        let x;

        dataUnplanned.push({
            year: 1,
            value: 0
        });

        for (x = 0; x < term; x++) {
          dataUnplanned.push({
            year: data.inheritanceForecast[x].Year,
            value: Math.round(data.inheritanceTaxComparison[x].IHTwithoutPlanning)
          });
        }

        dataUnplanned.push({
            year: term,
            value: 0
        });

        return dataUnplanned;
      }

      /**
       * The parent container for the funnel chart
       * @return {HTMLElement} div container
       */
      get shadowContainer() {
        return this.shadowRoot.querySelector('.container');
      }

      /**
       * Initialize the chart. This is called if the chart
       * is being drawn for the first time.
       */
      _init() {
        this.initChart();
        this._initAxis();
        this.styleChart();
      }

      /**
       * Draw the chart after initialization.
       * Note: the API response must be reformatted in order to draw
       * and this function does not need to be called again for redrawing.
       */
      draw() {
        if (this.dataPlanned && this.dataUnplanned) {
          super.draw();
        }
      }

      _updateSeries(dataPlanned, dataUnplanned) {
        this.dataPlanned.data = dataPlanned;
        this.dataUnplanned.data = dataUnplanned;
      }

      /**
       * Initialises the axis needed for the chart
       * and reformats the y axis labels to handle chart responsiveness.
       */
      _initAxis() {
        let shapePlanned, shapeUnplanned, axComparisonX, axComparisonY;
        let axCompX, axCompY;

        this.chart.margin = "0 0 100 60";
        this.chart.padding = "20 20 20 20";
        this.chart.titleOffsetY = -10;
        this.chart.title = "";
        this.chart.legendPos = "bottomCentre";
        this.chart.legendStacked = false;
        this.chart.legendOffsetX = -180;
        this.chart.legendOffsetY = 80;

        shapeUnplanned = this.chart.addSeries("shape", this.dataUnplanned);
        shapeUnplanned.legend = "IHT without planning";
        shapeUnplanned.legendFontSize = 16;
        shapeUnplanned.colour = "#fbb871";
        shapeUnplanned.fillOpacity = 1;

        shapePlanned = this.chart.addSeries("shape", this.dataPlanned);
        shapePlanned.legend = "IHT with planning";
        shapePlanned.legendFontSize = 16;
        shapePlanned.legendOffsetX = 30;
        shapePlanned.colour = "#c09dc1";
        shapePlanned.strokeColour = "white";
        shapePlanned.strokeWidth = 2;
        shapePlanned.fillOpacity = 1;

        axCompX = this.chart.addAxis("bottom", "linear", "year");
        axCompX.rangeMin = 1;
        axCompX.rangeMax = 30;
        axCompX.numBands = 29;
        axCompX.labelOffsetY = 10;
        axCompX.tickFontSize = 12;
        axCompX.showGridLines = false;
        axCompX.tickColour = "#d9d9d9";
        axCompX.axisOpacity = 0;

        axCompY = this.chart.addAxis("left", "linear", "value");
        axCompY.label = "";
        axCompY.rangeMin = 0;
        axCompY.tickFontSize = 12;
        axCompY.tickTextFormat = "£,.0";
        axCompY.gridLineColour = "#d9d9d9";
        axCompY.gridLineOpacity = 0.75;
        axCompY.axisColour = "#d9d9d9";
        axCompY.tickColour = "#d9d9d9";
        axCompY.axisOpacity = 0;
        axCompX.tickFontColour = axCompY.tickFontColour = "#595959";
      }

    }

    window.customElements.define(EvShapeChart.is, EvShapeChart);
  </script>
</dom-module>